.banner {
    background-image: url("https://img.freepik.com/free-photo/muslim-business-woman-brown-hijab-working-about-financial-with-business-report-calculator-home-office_68339-173.jpg?w=2000");
    height: 100vh;
    background-position: center;
    top: 0;

}